- let n = 14;
- let p = n*n;
- let img1 = "https://picsum.photos/id/152/1200/1200";
- let img2 = "https://picsum.photos/id/360/1200/1200";

style
	- for(let x = 0; x < n; x++)
		| .grid:has(.cell[style*="--i: #{x}"]:hover) { --ki: #{x} }
		| .grid:has(.cell[style*="--j: #{x}"]:hover) { --kj: #{x} }
input(type="checkbox")(id="image")
label.grid(style=`--n: ${n};--img1: url(${img1});--img2: url(${img2})`)(for="image")
	- for(let j = 0; j < n; j++)
		- for(let i = 0; i < n; i++)
			.cell(style=`--i: ${i};--j: ${j};`)